




/*
 * SVG Elements
 */

.board-border {
  fill: none;
  stroke: black;
  stroke-width: 10px;
}

.board-line {
  stroke: black;
  stroke-width: 5px;
}

.board-circle {
  fill: black;
}

.flip {
  -ms-transform: rotate(180deg); /* IE 9 */
  -ms-transform-origin: left top; /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  -webkit-transform-origin: left top; /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  transform-origin: left top;
}
