




/*
 * SVG Elements
 */

.board-border {
  fill: none;
  stroke: black;
  stroke-width: 10px;
}

.board-line {
  stroke: black;
  stroke-width: 5px;
}

.board-circle {
  fill: black;
}

.board-index-text {
  text-anchor: middle;
  font-size: 60px;
  pointer-events: none;
}

.hand-number-text {
  font-weight: 900;
  text-anchor: middle;
  stroke: #333333;
  stroke-width: 7px;
  fill: #f3f372;
  font-size: 120px;
  pointer-events: none;
}

.left-half {
  clip-path: inset(0% 50% 0% 0%);
}

.right-half {
  clip-path: inset(0% 0% 0% 50%);
}

/*
 * SVG Effects
 */

.board-cursor {
  fill: none;
  stroke: #e1b265;
  stroke-width: 18px;
}

.board-flash {
  fill: none;
  stroke: #805819;
  stroke-width: 18px;
}

.board-selected {
  fill: #e1b265;
  stroke: none;
}

.board-last {
  fill: #f0f0f0;
  stroke: none;
}

.board-move {
  fill: none;
  stroke: #805819;
  stroke-width: 20px;
}

.board-legal {
  fill: #2b5f91;
  stroke: none;
  opacity: 0.8;
}

.board-forward-line {
  fill: none;
  stroke: #337ab7;
  stroke-width: 100px;
  opacity: 0.2;
}

.board-forward-triangle {
  fill: #337ab7;
  opacity: 0.2;
}
